body{
	margin: 20px;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo{
	border-radius: 4px;
}
.now-showing{
	margin-top: 6px;
	margin-left: 2em;
	padding: 7px 40px;
}
#login-buttons{
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 3px;
	float: right;
	margin-top: 6px;
	margin-right: 4em;
}
#login-buttons a, .accounts-dialog a{
	color: #000;
}
#login-dropdown-list{
	top: 34 !important;
	left: -100px !important;
}
.navbar-brand{
	padding: 5px 13px !important;
}
.movie-info{
	background: #ccc;
	padding: 10px;
	margin-bottom: 10px;
}
.movie-info .title{
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
}
.movie-info p{
	font-size: 12px;
}
.thumbnail .caption{
	padding: 0;
}
.thumbnail {
	display: inline-block;
	background: -webkit-linear-gradient(45deg, #ddd, #FFF);
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 5px;
}
/*@media (max-width: 3000px) {
    #main{
        min-width: 1640px!important;
    }
}
@media (max-width: 1670px) {
    #main{
        min-width: 1240px!important;
    }
}*/

