<!-- Movies Search Template -->
<template name="MovieLayout">
  <div class="container-fluid" id="main">
    <h2>What movie are you looking for?</h2>
    <form class="form-inline search-movie">
      <div class="form-group">
        <input class="form-control" type="text" name="query" id="search" size="50" placeholder="(e.g. Fight Club, Starwars)">
        <input class="btn btn-primary" type="submit" value="Search">
      </div>
    </form>    
    {{#if searching}}
      {{> loading}}
    {{else}}
      <hr>
        <div class="grid">
          {{#each movies}}
            {{> movie}}
          {{/each}}  
        </div>
    {{/if}}
  </div>
</template>

<template name="movie">
    <div class="grid-item">
      <div class="thumbnail">
        {{#if poster}}
          <img src="http://image.tmdb.org/t/p/w500{{poster}}">
        {{else}}
          <img src="http://lorempixel.com/500/281">
        {{/if}} 
        <!-- <div class="caption">
          <div class="movie-info">
            <h3 class="title text-center">{{title}}</h3>
            <p class="text-center">Release date: {{releaseDate}}</p>
          </div>
          <hr>
          <p>{{overview}}</p>
        </div> -->
      </div>
    </div>
</template>

<!-- <template name="movie">
    <div class="col-sm-3 col-md-3 grid-item pull-left">
      <div class="thumbnail">
        {{#if poster}}
          <img src="http://image.tmdb.org/t/p/w500{{poster}}">
        {{else}}
          <img src="http://lorempixel.com/500/281">
        {{/if}} 
        <div class="caption">
          <div class="movie-info">
            <h3 class="title text-center">{{title}}</h3>
            <p class="text-center">Release date: {{releaseDate}}</p>
          </div>
          <hr>
          <p>{{overview}}</p>
        </div>
      </div>
    </div>
</template> -->
<!-- =================================== -->